table
  border-collapse collapse
  margin 0
  display: inline-block
  overflow-x: auto
  line-height: 14px
tr
  border-top 1px solid #dfe2e5
  &:first-child
    background-color #eee
    text-align center
    line-height 16px
    font-weight bold
  &:nth-child(2n)
    background-color transparent

th, td
  border 1px solid #ddd
  padding 0px 5px

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs22 { font-size: 22px; }
.fs24 { font-size: 24px; }
.fs26 { font-size: 26px; }
.fs28 { font-size: 28px; }
.fs30 { font-size: 30px; }
.fs32 { font-size: 32px; }
.fs34 { font-size: 34px; }
.fs36 { font-size: 36px; }
.fs38 { font-size: 38px; }
.fs40 { font-size: 40px; }

.sz1{ font-size: 12px !important; line-height: 12px !important; }
.sz2{ font-size: 16px !important; line-height: 16px !important; }
.sz3{ font-size: 20px !important; line-height: 20px !important; }
.sz4{ font-size: 24px !important; line-height: 24px !important; }
.sz5{ font-size: 28px !important; line-height: 28px !important; }
.sz6{ font-size: 32px !important; line-height: 32px !important; }
.sz7{ font-size: 36px !important; line-height: 36px !important; }
.sz8{ font-size: 40px !important; line-height: 40px !important; }
.sz9{ font-size: 44px !important; line-height: 44px !important; }

.bd { font-weight: bold; }

.c0 { color: #000;}
.c1 { color: #111;}
.c2 { color: #222;}    
.c3 { color: #333;}
.c4 { color: #444;}
.c5 { color: #555;}
.c6 { color: #666;}
.c7 { color: #777;}    
.c8 { color: #888;}    
.c9 { color: #999;}
.ca { color: #aaa;}
.cb { color: #bbb;}
.cc { color: #ccc;}
.cd { color: #ddd;}
.ce { color: #eee;}
.cf { color: #fff;}
.green { color: #0b0;}
.blue { color: #17e;}
.red { color: #f33;}

.bg0 { background-color: #000; }
.bg1 { background-color: #111; }
.bg2 { background-color: #222; }
.bg3 { background-color: #333; }
.bg4 { background-color: #444; }
.bg5 { background-color: #555; }
.bg6 { background-color: #666; }
.bg7 { background-color: #777; }
.bg8 { background-color: #888; }
.bg9 { background-color: #999; }
.bga { background-color: #aaa; }
.bgb { background-color: #bbb; }
.bgc { background-color: #ccc; }
.bgd { background-color: #ddd; }
.bge { background-color: #eee; }
.bgf { background-color: #fff; }

.bd0 { border: #000 1px solid; }
.bd1 { border: #111 1px solid; }
.bd2 { border: #222 1px solid; }
.bd3 { border: #333 1px solid; }
.bd4 { border: #444 1px solid; }
.bd5 { border: #555 1px solid; }
.bd6 { border: #666 1px solid; }
.bd7 { border: #777 1px solid; }
.bd8 { border: #888 1px solid; }
.bd9 { border: #999 1px solid; }
.bda { border: #aaa 1px solid; }
.bdb { border: #bbb 1px solid; }
.bdc { border: #ccc 1px solid; }
.bdd { border: #ddd 1px solid; }
.bde { border: #eee 1px solid; }
.bdf { border: #fff 1px solid; }

.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9, .h10, .h11, .h12, .h13, .h14, .h15 { font-weight: bold; font-family: 'Arial'}
.h10, .h11, .h12, .h13, .h14, .h15 { font-weight: 800;}
.h1 { font-size: 12px; line-height: 18px; }
.h2 { font-size: 14px; line-height: 20px; }
.h3 { font-size: 16px; line-height: 22px; }
.h4 { font-size: 18px; line-height: 24px; }
.h5 { font-size: 20px; line-height: 26px; }
.h6 { font-size: 22px; line-height: 28px; }
.h7 { font-size: 24px; line-height: 30px; }
.h8 { font-size: 26px; line-height: 32px; }
.h9 { font-size: 28px; line-height: 34px; }
.h10 { font-size: 30px; line-height: 36px; }
.h11 { font-size: 32px; line-height: 38px; }
.h12 { font-size: 34px; line-height: 40px; }
.h13 { font-size: 36px; line-height: 42px; }
.h14 { font-size: 38px; line-height: 44px; }
.h15 { font-size: 40px; line-height: 46px; }