.content-header {
    padding: 72px 0 50px 150px;
    position: relative;
    h1 {
        padding: 0;
        margin: 0;
        line-height: 36px;
        color: #3eaf7c;
        font-size: 36px;
        line-height: 36px;
    }
    strong {
        padding: 0;
        margin: 0;
        color: #3eaf7c;
        font-size: 120px;
        line-height: 120px;
        position: absolute;
        top: 30px;
        left: 80px;
        opacity: 0.06;
        border-bottom: #3eaf7c 1px solid;
        overflow: hidden;
        height: 80px;
    }
    summary {
        color: #666;
        line-height: 16px;
        padding-left: 12px;
        margin-top: 5px;
        border-color: #4bba88;
    }
    detail {
        color: #333;
        line-height: 16px;
    }
}