.theme-item .theme-default-content { min-height: 450px; }
.theme-default-content { padding: 10px 20px; position: relative; }
.static-content { padding-left: 50px; }    
.plantuml-demo {
    .start { color: #0c0; font-size: 18px; }
    .end { color: #f00; font-size: 18px; }
}
.code-block {
    line-height: 1.24; font-family: 'consolas', 'monospace', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.test { border: #f00 1px solid; }
.inline { display: inline-block; }
.vtop { vertical-align: top; }
.vmid { vertical-align: middle; }
.vbom { vertical-align: bottom; }

@require './common'
@require './col'
@require './format-block'
@require './title'
@require './content-header'
@require './form-elements'
@require './extend-header'
@require './home'
@require './formatter'