{$contentClass}
    pre, pre[class*="language-"]
        line-height 1.15
        padding 0.2rem 1.5rem 0.4rem 1.5rem
        background-color transparent
        border-radius 0px
div[class*="language-"]
    border-radius 0px
div[class~="language-"]
    background-color transparent
div[class~="language-"] pre[class~="language-text"] code
    color #333