.custom-block
    &.tip, &.warning, &.danger
        padding .1rem 1.5rem
        margin 1rem 0
    &.tip
        .custom-block-title
            display none
        p
            line-height: 1.2
            padding 5px 0
    &.warning
        .custom-block-title
            display none
        p
            line-height: 1.2
            padding 5px 0
    &.danger
        .custom-block-title
            display none
        p
            line-height: 1.2
            padding 5px 0
    &.details
        margin 0.2em 0
        padding 0.3em 1em